h1{
    font-family: 'Stack Sans Notch', sans-serif;
    font-size: larger;
    color: rgb(47, 0, 118);
}

p{
    font-family: "Kedebideri", sans-serif;
    font-size: larger;
    color: rgb(102, 0, 255);
}
