.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.galeria img {
    width: 100%;
    height: auto;
    border-radius: 8px;

    transition: transform 0.3s ease;
 }

 .galeria img:hover {
    transform: scale(1.05);
}

.kedebideri-regular {
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
    text-align: center;
    font-family: "Kedebideri", sans-serif;
}